<meta charset="UTF-8" />

<div class="header">
  <h1>쇼크 사이즈 계산기</h1>
</div>

<div class="below">
  <label for="belowWidth">밑가슴 둘레</label>
  <select id="belowWidth">
    <option value="">--가슴 둘레를 선택해 주세요--</option>
    <option value="65">65</option>
    <option value="70">70</option>
    <option value="75">75</option>
    <option value="80">80</option>
    <option value="85">85</option>
    <option value="90">90</option>
    <option value="95">95</option>
    <option value="100">100</option>
  </select>
</div>

<div id="upper"></div>

<div style="display: flex; flex-direction: row">
  <div id="answerBelow"></div>
  <div id="answer"></div>
</div>



<script>
  var upperValue;
  var belowValue;

	var select65 = '<label for="upperWidth">윗가슴 둘레</label>' +
	  '<select id="upperWidth" onchange="setValueUpper(event)">' +
	  '<option value="0">--가슴 둘레를 선택해 주세요--</option>' +
    '<option value="77">77~79</option>' +
    '<option value="79">79~81</option>' +
    '<option value="81">81~83</option>' +
    '<option value="83">83~85</option>' +
    '<option value="85">85~87</option>' +
    '<option value="87">87~89</option>' +
    '<option value="89">89~91</option>' +
  '</select>';

  var select70 = '<label for="upperWidth">윗가슴 둘레</label>' +
    '<select id="upperWidth" onchange="setValueUpper(event)">' +
    '<option value="0">--가슴 둘레를 선택해 주세요--</option>' +
    '<option value="82">82~84</option>' +
    '<option value="84">84~86</option>' +
    '<option value="86">86~88</option>' +
    '<option value="88">88~90</option>' +
    '<option value="90">90~92</option>' +
    '<option value="92">92~94</option>' +
    '<option value="94">94~96</option>' +
    '<option value="96">96~98</option>' +
    '<option value="98">98~100</option>' +
  '</select>';

  var select75 = '<label for="upperWidth">윗가슴 둘레</label>' +
    '<select id="upperWidth" onchange="setValueUpper(event)">' +
    '<option value="0">--가슴 둘레를 선택해 주세요--</option>' +
    '<option value="87">87~89</option>' +
    '<option value="89">89~91</option>' +
    '<option value="91">91~93</option>' +
    '<option value="93">93~95</option>' +
    '<option value="95">95~97</option>' +
    '<option value="97">97~99</option>' +
    '<option value="99">99~101</option>' +
    '<option value="101">101~103</option>' +
    '<option value="103">103~105</option>' +
  '</select>';

  var select80 = '<label for="upperWidth">윗가슴 둘레</label>' +
    '<select id="upperWidth" onchange="setValueUpper(event)">' +
    '<option value="0">--가슴 둘레를 선택해 주세요--</option>' +
    '<option value="92">92~94</option>' +
    '<option value="94">94~96</option>' +
    '<option value="96">96~98</option>' +
    '<option value="98">98~100</option>' +
    '<option value="100">100~102</option>' +
    '<option value="102">102~104</option>' +
    '<option value="104">104~106</option>' +
    '<option value="106">106~108</option>' +
    '<option value="108">108~110</option>' +
  '</select>';

  var select85 = '<label for="upperWidth">윗가슴 둘레</label>' +
    '<select id="upperWidth" onchange="setValueUpper(event)">' +
    '<option value="0">--가슴 둘레를 선택해 주세요--</option>' +
    '<option value="97">97~99</option>' +
    '<option value="99">99~101</option>' +
    '<option value="101">101~103</option>' +
    '<option value="103">103~105</option>' +
    '<option value="105">105~107</option>' +
    '<option value="107">107~109</option>' +
    '<option value="109">109~111</option>' +
    '<option value="111">111~113</option>' +
    '<option value="113">113~115</option>' +
  '</select>';

  var select90 = '<label for="upperWidth">윗가슴 둘레</label>' +
    '<select id="upperWidth" onchange="setValueUpper(event)">' +
    '<option value="0">--가슴 둘레를 선택해 주세요--</option>' +
    '<option value="102">102~104</option>' +
    '<option value="104">104~106</option>' +
    '<option value="106">106~108</option>' +
    '<option value="108">108~110</option>' +
    '<option value="110">110~112</option>' +
    '<option value="112">112~114</option>' +
    '<option value="114">114~116</option>' +
    '<option value="116">116~118</option>' +
    '<option value="118">118~120</option>' +
  '</select>';

  belowWidth.addEventListener('change', function(e) {
    belowValue = e.target.value
    console.log('belowValue', belowValue);
    if (e.target.value == 65) {
      document.getElementById("upper").innerHTML = select65
      document.getElementById("answerBelow").innerHTML = '65'
    } else if (e.target.value == 70) {
      document.getElementById("upper").innerHTML = select70
      document.getElementById("answerBelow").innerHTML = '70'
    } else if (e.target.value == 75) {
      document.getElementById("upper").innerHTML = select75
      document.getElementById("answerBelow").innerHTML = '75'
    } else if (e.target.value == 80) {
      document.getElementById("upper").innerHTML = select80
      document.getElementById("answerBelow").innerHTML = '80'
    } else if (e.target.value == 85) {
      document.getElementById("upper").innerHTML = select85
      document.getElementById("answerBelow").innerHTML = '85'
    } else if (e.target.value == 90) {
      document.getElementById("upper").innerHTML = select90
      document.getElementById("answerBelow").innerHTML = '90'
    }
  });

  function setValueUpper(e) {
    upperValue = e.target.value;
    console.log('upperValue', upperValue);

    if (upperValue == 77 || upperValue == 82 || upperValue == 87 || upperValue == 92 || upperValue == 97 || upperValue == 102) {
      document.getElementById('answer').innerHTML = 'A컵';
    } else if (upperValue == 79 || upperValue == 84 || upperValue == 89 || upperValue == 94 || upperValue == 99 || upperValue == 104) {
      document.getElementById('answer').innerHTML = 'B컵';
    } else if (upperValue == 81 || upperValue == 86 || upperValue == 91 || upperValue == 96 || upperValue == 101 || upperValue == 106) {
      document.getElementById('answer').innerHTML = 'C컵';
    } else if (upperValue == 83 || upperValue == 88 || upperValue == 93 || upperValue == 98 || upperValue == 103 || upperValue == 108) {
      document.getElementById('answer').innerHTML = 'D컵';
    } else if (upperValue == 85 || upperValue == 90 || upperValue == 95 || upperValue == 100 || upperValue == 105 || upperValue == 110) {
      document.getElementById('answer').innerHTML = 'DD컵';
    } else if (upperValue == 87 || upperValue == 92 || upperValue == 97 || upperValue == 102 || upperValue == 107 || upperValue == 112) {
      document.getElementById('answer').innerHTML = 'E컵';
    } else if (upperValue == 89 || upperValue == 94 || upperValue == 99 || upperValue == 104 || upperValue == 109 || upperValue == 114) {
      document.getElementById('answer').innerHTML = 'F컵';
    } else if (upperValue == 96 || upperValue == 101 || upperValue == 106 || upperValue == 111 || upperValue == 116) {
      document.getElementById('answer').innerHTML = 'F컵';
    } else if (upperValue == 98 || upperValue == 103 || upperValue == 108 || upperValue == 113 || upperValue == 118) {
      document.getElementById('answer').innerHTML = 'G컵';
    }
  }

</script>